.dashboardContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.filterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.metricGrid {
  flex: 1;
  max-width: 300px;
}

.chartGrid {
  flex: 2;
  flex-basis: calc(100% - 320px);
}
